@charset "utf-8";

body {
  font-family: "Noto Sans KR", "Poppins", BinggraeOTF, Binggrae-BoldOTF,
    sans-serif;
  font-size: 16px;
  color: #1f1f1f;
  letter-spacing: -0.8px;
  background: url(../images/main_backimg.jpg) no-repeat;
}

header {
  border-top: 1px solid #e7e7e7;
  height: 150px;
  margin: auto;
  margin-top: 30px;
}

.inner {
  margin: 0 80px;
  width: 1770px;
  height: 120px;
}

.inner h1 {
  float: left;
  width: 380px;
  height: 120px;
  line-height: 120px;
}

nav {
  float: left;
  width: 1000px;
}

nav ul {
  height: 120px;
  line-height: 120px;
}

nav ul li {
  float: left;
  padding: 0 38px 0;
  text-align: center;
  font-size: 20px;
}

.util {
  float: right;
  height: 120px;
  line-height: 120px;
}

.util li {
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

.util li:nth-child(1) img {
  margin-left: 10px;
}

.util li:nth-child(2) {
  scale: 0.6;
}

.header_top {
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  right: 78px;
}

.header_top ul li {
  float: left;
  padding-right: 20px;
  font-size: 14px;
}

/* main */
aside {
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 60px;
  cursor: pointer;
}

.quick_chat_btn img {
  animation: topdown 2s infinite ease-in-out;
}

@keyframes topdown {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.btn {
  position: relative;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
}

.quick_shop {
  margin: 10px auto 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
  background: #fff;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06),
    inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
}

.move_btn {
  display: flex;
  margin-left: 10px;
  background: #000;
}

.move_btn_bottom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(180deg);
  transition: all 0.5s ease;
}

.move_btn_top {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
}

/* 메인  */
.main_banner {
  text-align: center;
}

/* 제품 검색 부분 */
.search_box {
  display: inline-block;
  width: 1020px;
  height: 80px;
  margin-top: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
}

.search_box img {
  padding: 0 10px 0 40px;
}

.search_box input[type="text"] {
  width: 70%;
  height: 100%;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.85px;
  outline: none;
}

.search_box input[type="button"] {
  width: 180px;
  height: 55px;
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

.hashtag {
  height: 37px;
  margin-top: 25px;
  font-size: 0;
}

.hashtag li {
  display: inline-block;
  width: 120px;
  height: 37px;
  margin: 0 5px;
  line-height: 37px;
  font-size: 12px;
  border: 1px solid #edecef;
  border-radius: 18.5px;
}

.hashtag li a {
  display: block;
}

/* menu */
.menu {
  position: relative;
}

.menu h3 {
  font-family: Binggrae-BoldOTF, sans-serif;
  margin: 180px 0 40px 0;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.menu ul {
  width: 1600px;
  height: 337px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.menu ul li {
  display: inline-block;
  width: 242px;
  height: 242px;
  margin-left: 20px;
}

.menu ul li img {
  width: 242px;
  height: 242px;
}

.menu ul li p {
  height: 43px;
  line-height: 43px;
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
  border-radius: 21px;
  background: #f9f9f9;
}

.pre_arrow {
  position: absolute;
  display: inline-block;
  left: 120px;
  bottom: 210px;
  opacity: 0.1;
}

.next_arrow {
  position: absolute;
  display: inline-block;
  right: 125px;
  bottom: 210px;
}

/* brand */
.brand {
  position: relative;
}

.brand h3 {
  font-family: Binggrae-BoldOTF, sans-serif;
  margin: 120px 0 50px 0;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.brand ul {
  width: 1600px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.brand ul li {
  display: inline-block;
  width: 242px;
  height: 250px;
  line-height: 250px;
  margin-left: 20px;
  border: 1px solid #edecef;
  border-radius: 30px;
}

.pre_arrow1 {
  position: absolute;
  display: inline-block;
  left: 130px;
  bottom: 150px;
  opacity: 0.1;
}

.next_arrow1 {
  position: absolute;
  display: inline-block;
  right: 110px;
  bottom: 150px;
}

.qna h3 {
  font-family: Binggrae-BoldOTF, sans-serif;
  margin: 120px 0 45px 0;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.qna_box {
  position: relative;
  width: 1310px;
  height: 850px;
  margin: 0 auto;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
}

.qna_email {
  left: 45px;
  background: url(../images/sec_backimg1.png) no-repeat center right / cover;
}

.qna_email,
.qna_call {
  position: absolute;
  width: 590px;
  height: 325px;
  top: 90px;
  border-radius: 30px;
}

.qna_email h4 {
  font-family: Binggrae-BoldOTF, sans-serif;
  padding: 55px 0 30px 45px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1.6px;
}

.qna_email > p {
  padding-left: 45px;
  line-height: 1.63;
}

.qna_email a {
  display: block;
  width: 160px;
  height: 43px;
  margin: 65px 0 60px 45px;
  line-height: 43px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  border: 1px solid rgba(224, 223, 226, 0.6);
  border-radius: 21.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
}

.qna_call {
  right: 45px;
  background: url(../images/sec_backimg2.png) no-repeat center right / cover;
}

.qna_call h4 {
  font-family: Binggrae-BoldOTF, sans-serif;
  padding: 55px 0 0 45px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1.6px;
}

.qna_call p:first-of-type {
  font-size: 46.5px;
  font-weight: bold;
  color: #303030;
  letter-spacing: -2.33px;
}

.qna_call > p {
  padding: 30px 45px 0;
  line-height: 1;
}

.qna_call span {
  margin-left: 15px;
  font-weight: 500;
  color: #e0462e;
}

.qna_list {
  position: absolute;
  width: 1230px;
  height: 320px;
  left: 45px;
  bottom: 60px;
}

.qna_list h4 {
  font-family: Binggrae-BoldOTF, sans-serif;
  font-size: 23px;
  font-weight: 800;
  line-height: 1;
}

.qna_list ul {
  width: 1220px;
  height: 260px;
  margin-top: 35px;
}

.qna_list ul li {
  float: left;
  width: 585px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 10px;
  border-radius: 30px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}

.qna_list ul li:nth-of-type(even) {
  float: right;
}

.qna_list ul li a {
  display: block;
  padding-left: 20px;
  font-size: 18px;
}

.qna_list span a {
  position: absolute;
  width: 160px;
  height: 43px;
  right: 10px;
  top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
  border: 1px solid rgba(224, 223, 226, 0.6);
  border-radius: 21.5px;
}

.qna_list span a:hover {
  color: #fff;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

.report h3 {
  font-family: Binggrae-BoldOTF, sans-serif;
  margin: 130px 0 40px 0;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.counsel_box {
  position: relative;
  width: 1310px;
  height: 230px;
  margin: 0 auto;
}

.cyber_box {
  position: absolute;
  width: 635px;
  height: 230px;
  left: 0;
  top: 0;
  text-align: center;
  border-radius: 30px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}

.cyber_box p {
  padding-top: 60px;
  font-size: 20px;
  line-height: 1.63;
}

.cyber_box a {
  display: block;
  width: 160px;
  height: 43px;
  line-height: 43px;
  margin: 15px auto;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 21.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

.safe_box {
  position: absolute;
  width: 635px;
  height: 230px;
  right: 0;
  top: 0;
  text-align: center;
  border-radius: 30px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}

.safe_box p {
  padding-top: 78px;
  font-size: 20px;
  line-height: 1.63;
}

.safe_box a {
  display: block;
  width: 160px;
  height: 43px;
  line-height: 43px;
  margin: 30px auto;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 21.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

/* footer */
footer {
  position: relative;
  padding: 40px 50px 30px;
  margin-top: 140px;
  background-color: #1b1b1b;
}

.f_top address {
  padding-top: 30px;
  font-size: 17px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.f_top address p {
  padding-bottom: 20px;
}

.f_top ul {
  position: absolute;
  right: 50px;
  top: 30px;
}

.f_top ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

.f_bottom {
  position: relative;
}

.f_bottom p {
  margin: 120px 0 30px;
  font-size: 14px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.2);
}

.f_bottom ul {
  position: absolute;
  width: 330px;
  height: 70px;
  right: 90px;
  top: -20px;
}

.f_bottom ul li {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36),
    inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
  background: #1b1b1b;
}

.f_bottom ul li ~ li {
  margin-left: 10px;
}

.f_bottom ul li a {
  display: block;
}
